SECRET_KEY=tu-clave-aqui
DB_NAME=red_talento_db
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306

# MongoDB (replica set rs0) - feed de publicaciones
MONGO_URI=mongodb://app_user:PASSWORD@172.31.15.80:27017,172.31.15.134:27017,172.31.10.225:27017/red_talento_feed?replicaSet=rs0&authSource=red_talento_feed&retryWrites=true&w=majority
MONGO_DB_NAME=red_talento_feed
